
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#each datosSkaters}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td><div style="background-image: url('/assets/img/{{foto}}');"></div></td>
            <td>{{nombre}}</td>
            <td>{{anos_experiencia}}</td>
            <td>{{especialidad}}</td>
            <td><input type="checkbox" 
            {{#if estado}}
            checked
            {{/if}}
            value="{{id}}"
            /></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>

  <script>
    const alertaMensaje = () => {
      if('{{mensaje}}') {
        alert('{{mensaje}}')
      }
      const cambioEstado = async (inputCheckbox) => {
        const data = { // Este data traerá el input completo de la checkbox
          'estado': inputCheckbox.checked,
          'id': inputCheckbox.value
          }

        const tokenActual = localStorage.getItem('token')
      
        await fetch('http://localhost:3000/checkbox', {
          method: 'PUT',
          headers: {
            'Authorization': tokenActual,
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(response => {
          response.json().then(async (dato) => {
            if(dato.status) {
              alert('Actualización coorecta de estado!')
              window.location.replace('/admin')
            } else {
              alert('No se pudo actualizar el estado. Intente nuevamente.')
              window.location.replace('/admin')
            }
          })
        }).catch((err) => {
          alert(`Ocurrió un error. Por favor, revise la siguiente información: ${err}`)
          window.location.replace('/admin')
        })
      }

      const allCheckbox = document.querySelectorAll('input[type=checkbox]')
      allCheckbox.forEach(checkbox => {
        checkbox.addEventListener('change', () => {cambioEstado(checkbox)})
      })
    }
    alertaMensaje()
  </script>
